<script type="text/javascript">
  var global = global || {};
  window.globalkey = "<%= ENV['API_KEY'] %>";
</script>

<div id="galaxy">

</div>

<script type="text/template" id='table-row-template'>
  <tr>
    <td>
      <%%= name %>
    </td>
    <td>
      <%%= radius %>
    </td>
    <td>
      <%%= color %>
    </td>
    <td>
      <%%= stars %>
    </td>
    <td>
      <%%= brightness %>
    </td>
    <td>
      <%%= id %>
    </td>
  </tr>
</script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">



<table class='table'>

  <thead>
    <tr>
      <th>Name</th>
      <th>Radius</th>
      <th>Color</th>
      <th>Particles</th>
      <th>FOV</th>
      <th>Id</th>
    </tr>
  </thead>
  <tbody class='galaxies'>
    <!-- Galaxies will be placed here -->
  </tbody>
</table>







<script type="text/javascript" src='/scripts/galaxy.js'></script>
