body {
  background-color: orange !important;
  text-align: center !important;
}


.form-control {
  width: 20% !important;
  margin-left: 40%!important;
  text-align: center !important;
  position: relative !important;

}

.form-group {
  // margin-left: 35%!important;
  position: relative !important;
}
//
// #name {
//   width: 20%;
//   text-align: center;
// }
//
// #radius {
//   width: 20%;
//   text-align: center;
// }
//
// #color {
//   width: 20%;
//   text-align: center;
// }
//
// #stars {
//     width: 20%;
//     text-align: center;
// }
//
// #brightness {
//   text-align: center;
//   width: 20%;
// }
