<!DOCTYPE html>
<html>
<head>
  <title>GalaxyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <h1>Galaxies</h1>
</header>
<%= yield %>

</body>
<footer>
  <h1>Footer</h1>
</footer>
</html>
